body {
  background-color: black;
  font-family: "Papyrus", monospace;
  text-align: center;
}

hr {
  border-style: dotted none none;
  border-color: #7b113a;
  border-width: 3px;
  width: 30%;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul {
  color: #810000;
  font-size: x-large;
}

h1 {
  color: #e0ece4;
}
h2 {
  color: #e0ece4;
}
h3 {
  color: #e0ece4;
}

table {
  color: #e0ece4;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
